*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans JP', sans-serif;
}

img{
    width: 100%;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
}

:root{
    --blue: #0084fd;
    --lightblue: #b5ddff;
    --purple: #9792e4;
    --dark: #333333;
    --yellow: #fdc15f;
}

/*****************
Container
****************/

.container{
    max-width: 1450px;
    margin: 0 auto;
}

.small-container{
    max-width: 1100px;
    margin: 0 auto;
}

/*********
Row
********/

.row{
    display: flex;
    flex-wrap: wrap;
}

/********
Col
********/

.col-4{
    flex-basis: calc((100% / 12)*4);
}

.col-8{
    flex-basis: calc((100% / 12)*8);
}

.col-6{
    flex-basis: calc((100% / 12)*6);
}

.col-12{
    flex-basis: 100%;
}

/***************************************
HEADER
***************************************/

header{
    background-color: var(--blue);
    padding: 20px 0;
}

.row.header{
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header ul li{
    padding: 0 15px;
}

.header ul li a{
    color: currentColor;
    line-height: 38px;
    font-size: 16px;
}

.header ul li a button{
    border: 0;
    border-radius: 25px;
    padding: 0 15px;
    line-height: 30px;
}

.hamburger{
    display: none;
    color: currentColor;
}

.header .logo{
    padding: 0 15px;
}

/**************************************
SECTION INFO
**************************************/
section.info{
    padding: 50px 0;
}

.info .container > .row{
    row-gap: 30px;
    margin: 0 -20px;
}

.info .row .box{
    height: 100%;
}

.info .col-8,
.info .col-4 {
    padding: 0 20px;
}

.box{
    background-color: var(--lightblue);
    padding: 0 30px;
    border-radius: 25px;
}

.info h2{
    color: var(--blue);
    padding-top: 40px;
    font-size: 30px;
}

.info p{
    line-height: 30px;
    padding: 40px 0;
    font-size: 20px;
}

.info button{
    line-height: 55px;
    padding: 0 60px;
    background-color: var(--blue);
    border: 0;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    margin-bottom: 60px;
}

.info button::before{
    content: "\f5d1";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    padding-right: 10px;
}

.info .col-6{
    align-self: flex-end;
}

.info .phone-img{
    width: 250px;
}

.info .col-4{
    text-align: center;
}

.info .col-4 .icon{
    font-size: 75px;
    color: var(--blue);
    padding-top: 35px;
}

/**************************************
PLANNING
**************************************/

.planning{
    background-color: var(--purple);
    padding-bottom: 80px;
}

.planning .row{
    margin: 0 -55px;
}

.planning .row .col-6{
    padding: 0 55px;
}

.planning .col-6 .col-12:first-child{
    padding: 160px 0;
}

.planning .col-6 .col-12 h2{
    padding-bottom: 70px;
    color: white;
    font-size: 40px;
}

.planning .col-6 .col-12 p{
    line-height: 30px;
    font-size: 20px;
    color: white;
}

.planning .col-6:last-child{
    align-self: flex-end;
}

.planning .planning-box{
    background-color: white;
    padding: 50px;
    border-radius: 50px;
    text-align: center;
}

.planning-box .planning-img{
    width: 75%;
    margin: 0 auto;
}

.planning-box h2{
    padding: 32px 0;
}

.planning-box p{
    line-height: 30px;
    margin-bottom: 48px;
}

.planning-box .icon{
    background-color: var(--purple);
    padding: 15px;
    width: 60px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 20px;
}

/**************************************
TESTIMONIALS
**************************************/

.testimonials{
    padding: 80px 0;
}

.testimonials .row{
    row-gap: 36px;
}

.testimonials .titol{
    text-align: center;
}

.testimonials .titol h1{
    padding: 40px 0;
    font-size: 50px;
    color: var(--purple);
}

.testimonials .titol p:first-child{
    font-size: 20px;
    font-weight: bold;
}

.testimonials .titol p{
    line-height: 30px;
    padding-bottom: 24px;
}

.testimonials .people-card{
    background-color: var(--purple);
    border-radius: 50px;
}

.testimonials .people-card .row{
    flex-wrap: nowrap;
    align-items: center;
}

.testimonials .people-card .profile-img{
    padding: 36px 12px;
}

.testimonials .people-card img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials .profile-text{
    padding: 20px 80px;
    line-height: 30px;
    color: white;
    font-size: 20px;
}

.testimonials .profile-text blockquote::before{
    content: "\f10d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.testimonials .profile-text blockquote::after{
    content: "\f10e";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.testimonials .profile-text p, .profile-text blockquote{
    font-size: 22px;
    padding: 20px 0;
    line-height: 45px;
}

/************************************
BENEFITS
************************************/

.benefits{
    background-color: var(--purple);
    padding: 50px 0;
}

.benefits .row{
    row-gap: 44px;
    margin: 0 -22px;
}

.benefits .col-12:first-child{
    text-align: center;
    color: white;
    font-size: 30px;
}

.benefits h1{
    font-size: 75px;
}

.benefits .col-4{
    padding: 0 22px;
}

.benefits .col-4 .card{
    padding: 0 38px;
    background-color: white;
    height: 100%;
    border-radius: 25px;

}

.benefits .col-4 p:first-child{
    color: var(--purple);
    font-size: 100px;
    font-weight: bolder;
    padding-top: 40px;
}

.benefits .col-4 h2{
    color: var(--purple);
    padding: 30px 0;
    font-size: 30px;
}

.benefits .col-4 p.index{
    line-height: 35px;
}

.benefits .card button {
    line-height: 55px;
    padding: 0 60px;
    background-color: var(--purple);
    border: 0;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    margin: 46px 0;
}

/************************************
SECTION ABOUT US
************************************/

.about-us{
    padding: 130px 0;
}

.about-us .row{
    margin: 0 -75px;
}

.about-us .row> *{
    padding: 0 75px;
}

.about-us h1{
    font-size: 100px;
    color: var(--purple);
}

.about-us .col-8 p{
    padding-top: 86px;
    line-height: 60px;
    font-size: 25px;
}

.about-us .about-us-card img{
    border-radius: 50%;
    width: 80%;
}

.about-us .about-us-img{
    position: relative;
}

.about-us .about-us-img i{
    position: absolute;
    font-size: 100px;
    right: 77px;
    color: var(--purple);
}

.about-us .about-us-card h2{
    font-size: 35px;
    font-weight: bolder;
    color: var(--purple);
    padding: 86px 0;
}

.about-us .about-us-card button {
    line-height: 45px;
    padding: 0 30px;
    background-color: var(--purple);
    border: 0;
    border-radius: 25px;
    color: white;
    font-size: 18px;
}

.about-us .about-us-card button::before{
    content: "\f3f5";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

/************************************
MEDIA QUERY
************************************/

@media only screen and (max-width: 991px) {

    .container,
    .small-container{
        padding: 0 30px;
    }

    .hamburger{
        display: block;
    }

    .row.header ul{
        display: none;
    }

    .info .box .col-6{
        flex-basis: 100%;
        text-align: left;
    }

    .planning .row{
        row-gap: 38px;
    }

    .planning .col-6{
        flex-basis: 100%;
    }

    .planning .planning-img{
        width: 90%;
        margin: 0 auto;
    }

    .testimonials .profile-text{
        padding: 20px;
    }

    .benefits .col-4{
        flex-basis: 50%;
    }
    
    .benefits h1{
        font-size: 45px;
    }
    
    .benefits .col-4 h2{
    padding: 20px 0;
    }

    .benefits .col-4 p:first-child{
    padding-top: 30px;
    font-size: 75px;
    }

    .benefits .card button {
    margin: 30px 0;
    }
    
}

@media only screen and (max-width: 575px) {

    .info [class^=col-]{
        flex-basis: 100%;
    }

    .testimonials .people-card .row{
        flex-wrap: wrap;
    }

    .testimonials .people-card{
        text-align: center;
    }
    
    .testimonials .profile-img{
        margin: 0 auto;
    }

    .testimonials .people-card .row {
        row-gap: 0;
    }

    
    .testimonials .profile-text blockquote{
        padding-top: 0;
    }

    .benefits .col-4{
        flex-basis: 100%;
    }
    
    .benefits h1{
        font-size: 35px;
    }

    .benefits .col-4 p:first-child{
    padding-top: 30px;
    font-size: 50px;
    }

    .benefits .card button {
    margin: 25px 0;
    }

    .benefits .col-4 p.index {
    line-height: 30px;  
    }
}